streamlit        #fronend framework for web apps
supabase        #supabase client for databse operations
fastapi       #backend api framework
uvicorn        #asgi server for FastAPI
python-dotenv   #environment variable management 
